@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  transition: 0.3s background ease;
  background: var(--bg-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}
