.Sidebar {
  flex-shrink: 0;
  width: var(--sidebar-width);
  background: var(--bg-color);
  border-right: 2px solid var(--light-gray);
  height: 100vh;
  position: relative;
  transition: 0.5s width, 0.3s background ease;
  overflow-y: scroll;
}

.switchers {
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 800px) {
  .collapsed {
    width: var(--sidebar-width-collapsed);
    border: none;

    .switchers {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s linear, opacity 0.2s linear;
    }
  }
}
