.app_blue_theme {
  --bg-color: #4b71ff;
  --inverted-bg-color: #f4f5fb;
  --primary-color: #f4f5fb;
  --secondary-color: #4b71ff;
  --inverted-primary-color: #4b71ff;
  --inverted-secondary-color: #f4f5fb;
}
