.theme_dark {
  --bg-color: #393939;
  --inverted-bg-color: #f0f0f0;
  --primary-color: #3a4767;
  --secondary-color: #1b1e2c;
  --inverted-primary-color: #1b1e2c;
  --inverted-secondary-color: #3a4767;

  // navbar
  --navbar-color: rgb(15 23 42 10%);

  // button
  --button-color: #1e8bc7;

  // card
  --card-bg: #343434;
  --card-light-bg: rgb(41 53 82);

  // skeleton
  --skeleton-color: rgb(21 32 58);
  --skeleton-shadow: rgb(63 87 138);

  // listbox
  --listbox-bg: rgb(255 255 255);
}
