.theme_dark {
  --bg-color: rgb(15 23 42);
  --inverted-bg-color: #f0f0f0;
  --primary-color: #3a4767;
  --secondary-color: #1b1e2c;
  --inverted-primary-color: #1b1e2c;
  --inverted-secondary-color: #3a4767;

  // button
  --button-color: #1e8bc7;
}
