.app.light {
  --bg-color: #02c39a;
  --inverted-bg-color: #05668d;

  --primary-color: #000000;
  --secondary-color: #252424;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #f0efeb;
}