:root {
  --bg-color: #fff;
  --inverted-bg-color: #393939;
  --primary-color: #1b1e2c;
  --secondary-color: #3a4767;
  --inverted-primary-color: #3a4767;
  --inverted-secondary-color: #1b1e2c;

  // button
  --button-color: #1683f3;

  // card
  --card-bg: rgb(221 221 221);
  --card-light-bg: rgb(239 239 239);

  // skeleton
  --skeleton-color: rgb(221 221 221);
  --skeleton-shadow: rgb(243 243 243);

  // listbox
  --listbox-bg: rgb(15 23 42);
}
