.Navbar {
  height: var(--navbar-height);
  background: var(--bg-color);
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 0 15px var(--black-dark);
  transition: 0.3s background ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.title {
  width: var(--sidebar-width);
}
