.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;

  .btnsWrapper {
    display: flex;
    align-items: center;
  }

  .editBtn {
    margin-right: 10px;
  }
}

.btnWrapper {
  margin-left: auto;
}
