.Card {
  border-radius: var(--rounded-m);
  transition: 0.3s background ease;
}

.primary {
  background: var(--card-bg);
}

.secondary {

}

.background {

}

.backgroundInverted {

}

.outline {

}